@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap");

/* Variables for colors */
:root {
  --mainbg: #1c1c1c;
  --appbg: #1f2937;
  --green: #10b981;
  --line: #2f3e53;
  --offwhite: #ececec;
}

/* General Formatting for Body of Page */
body {
  margin: 0;
  height: 100vh;
  background-color: var(--mainbg);
  font-family: "Karla", sans-serif;
  font-weight: 100;
  color: white;
}

.pointer {
    cursor: pointer;
}

.text {
    cursor: text;
}
/* Formatting for "app" elementt */
#app {
  width: 80%;
  max-width: 600px;
  background-color: var(--appbg);
}

.set-margin {
  margin: 9px 0 9px 0;
}

h1 {
  font-size: 42px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 2px;
  font-weight: 400;
  color: white;
}

#white {
  color: white;
}

#green {
  color: var(--green);
}

/* Formatting for Generate Password Buttpm */
#generate-passwords {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#generate-btn {
  width: 170px;
  height: 40px;
  margin: 20px 0 20px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--green);
  color: white;
  transition-duration: 200ms;
}

#generate-btn:hover, #generate-btn:focus {
    transform: scale(1.1);
}

/* Formatting for divs where passwords appear */
#password-divs {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-top: 1px solid var(--line);
}

#click {
  font-size: 14px;
  width: 70px;
}

.password {
  padding: 10px;
  width: 170px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--offwhite);
  color: var(--green);
  cursor: pointer;
}

/* Grouping frequently used  properties*/
body,
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
